*,
::before,
::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: rgb(221, 221, 221);
}

header {
  font-family: Roboto, sans-serif;
  display: block;
  position: relative;
  color: white;
}

.head{
  background-color: rgb(237, 28, 36);
  position: fixed;
  z-index: 140;
  transform: translate3d(0px, 0px, 0px);
  top: 0px;
  left: 0;
  right: 0;
  width: 100%;
}

.align-center {
  margin: 0 auto;
  max-width: 1180px;
  display: flex;
}
.menu{
  margin-top: 144px;
}
ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 0px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.zdropdown-menu>li>a div:hover {
  background-color: red !important;
  color: white;
}

.zdropdown-menu>li>a>div {
  padding-top: 5px;
  width: 250px;
  height: 30px;
  color: #333;
  font-weight: 600;
}

.zdropdown-menu>li>a>div>span {
  padding: 0 10px;
}

.zdropdown-menu>li:hover div {
  display: block;
}

.zdropdown-menu>li>a>div>i {
  position: absolute;
  font-size: 19px;
  font-weight: bold;
  right: 3%;
}

.item {
  color: black;
}

a {
  text-decoration: none;
}

.logo {
  /* display: flex; */
  display: inline-block;
  cursor: pointer;
}

.header-content-left {
  display: flex;
  align-items: center;
  width: 50%;
  height: 100px;
}

.header-content-right {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  justify-content: flex-end;
  width: 50%;
}

input[type="text"],
select {
  width: 100%;
  height: 38px;
  padding: 0;
  border: none;
  border-radius: 10px;
  outline: none;
}

.search-style-container {
  margin-left: 15px;
  flex-grow: 1;
}

.search-style-form {
  padding: 0 10px;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 20px;
}

.icon-search {
  cursor: pointer;
  position: relative;
  display: inline-block;
  color: brown;
  opacity: 85%;
}

.delivery-menu {
  margin: 0 10px;
  padding: 0 10px;
  height: 38px;
  display: flex;
  align-items: center;
  position: relative;
  width: 45%;
  border: 1px solid #ccc;
  background-color: white;
  color: red;
  border-radius: 20px;
  font-weight: 425;
  cursor: pointer;
}

.cart-menu {
  margin: 0 10px;
  cursor: pointer;
  display: flex;
}

.cart-menu>i {
  font-size: 36px;
}

.cart-menu>p {
  margin: 0;
  margin-top: 7px;
  padding-left: 5px;
  font-weight: 500;
}

.right-nav {
  display: flex;
  align-items: center;
  flex: none;
  justify-content: flex-end;
}

.nav-bar {
  background-color: #f1f0f1;
}

.w24 {
  width: 24% !important;
}

.w76 {
  width: 76% !important;
}

.user {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: white;
  display: flex;
  font-weight: 550;
}

.user>i {
  font-size: 36px;
  padding-right: 5px;
}

.user>span {
  padding-top: 10px;
}

.button2 {
  border: none;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.button2:hover {
  color: #8b8b8b;
}

.headphones {
  cursor: pointer;
}

.headphones:hover {
  color: #8b8b8b;
}

.headphones-info {
  display: none;
}

.headphones:hover>.headphones-info {
  color: black;
  display: block;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 15%;
  right: 6%;
  padding: 10px;
}

.sub-menu-container {
  position: absolute;
  border-left: 5px solid rgb(215, 215, 215);
  left: 250px;
  top: 0px;
  width: 800px;
  height: 600px;
  background-color: white;
  display: none;
}

.sub-menu-container>img {
  position: absolute;
  right: 0;
  top: 0;
}

.sub-menu-container>ul>li>a>div {
  padding: 10px 0 10px 10px;
  color: #333;
  font-weight: 600;
}

.sub-banner>div {
  padding: 1px 0px 1px 3px;
}

.img-product-card > img{
  width: 190px;
  height: 190px;
    
}
.product-title {
  background-color: rgb(246, 246, 246);
  padding: 12px 16px;
  font-weight: bold;
  border-radius: 5px;
}

.product-menu {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  margin-top: 5px;
}

.product-card {
  /* display: flex;
  flex-direction: column;
  padding: 12px;
  border-radius: 7px;
  justify-content: space-between;
  background-color: rgb(255, 255, 255); */
  margin: 0px;
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: justify;
  /* justify-content: space-between; */
  justify-content:space-between;
  cursor: pointer;
  padding: 10px;
  height: 100%;
  box-shadow: rgba(153, 153, 153, 0.6) 0px 0px 5px 0px;
}
.product-card button{
  margin-top: 0;
}
.img-product-card {
  display: flex;
  justify-content: center;
}

h6 {
  font-weight: normal;
}

div h6 + h6 + h6{
  color: red;
  font-weight: bold;
}

.add-item-to-cart {
  border: 1px solid red;
  border-radius: 5px;
  color: red;
  font-weight: bold;
  background-color: white;
  box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.2);
  height: 40px;
  display: inline-block;
}

.css-footer {
  /* display: flex; */
  justify-content: center;
  -webkit-box-pack: center;
}

.css-footer .viewmore {
  background: rgb(255, 255, 255);
  color: rgb(237, 28, 36);
  font-size: 14px;
  display: flex;
  /* margin: 13px 10px 0px; */
  margin: 10px    auto;
  height: 38px;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  border-radius: 4px;
  border: 1px solid rgb(237, 28, 36);
  position: relative;
  overflow: hidden;
  cursor: pointer;

}
button {
  display: flex;
}

span {
  font-family: Robotto, sans-serif;
  margin: 0px;
  padding: 8px;
}



#product {
  display: none;
}

#product2 {
  display: none;
}
#product3{
  display: none;
}
#product_next {
  display: none;
}

#product_next2 {
  display: none;
}
#product_next3{
  display: none;
}

#view_next {
  display: none;
}

#view_next2 {
  display: none;
}

#view_next3{
  display: none;
}
.menu1{
  margin-top: 10px;
  margin-bottom: 10px;
}
.menu2{
  margin-top: 10px;
  margin-bottom: 10px;
}
.menu3{
  margin-bottom: 3px;
  margin-top: 10px;
}
.product-card:hover{
  box-shadow: rgba(153, 153, 153, 0.6) 0px 0px 5px 0px;
  border: 1px solid rgb(235, 31, 58);
}
.banner{
  display: flex;
}
.top{
  display: flex;
  margin-top: 2%;
}
.category_container{
  width: 1180px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  position: relative;
  border-bottom: 1px solid rgb(241, 241, 241);
  margin-bottom: 3px;
  margin-top: 144px;
}
.main_content{
  display: flex;
}
.categoryleft_header header{
  background: rgb(255, 255, 255);
  font-size: 0.9rem;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  margin-top: 0.5rem;
  margin-bottom: 0px;
  margin-left: 0;
  color: rgb(51, 51, 51);
  padding: 5px 10px;
}
.category_left{
  flex: 0 0 auto;
}
.category_leftcontent{
  background: rgb(255, 255, 255);
  padding: 0px;
}
.categoryleft_header button{
  border: none;
  background-color: white;
  cursor: pointer;
  transition: 0.3s;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}
.categoryleft_header i:hover{
  color: red;
}
.left-top{
  font-size: 13px;
  display: none;
  transform: translate3d(20px,0px,0px);
}
.left-down {
  display: none;
  transform: translate3d(20px,0px,0px);
  margin-right: 3px;
}
.left-down img{
  width: 40%;
  margin-right: 0;
}

.category_right{
  margin-left: 1px;
}
.product-menu1{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 12px;
  margin-top: 10px; 
  margin-right: 10px;
  margin-bottom: 10px;
}
span.items{
  display: block;
}
#tieude {
  font-size: 14px;
  background: rgba(128, 128, 128, 0.05);
  font-weight:100;
  margin-top: 0;
  padding-top: 7px;
}
#tieude:hover{
  color: rgb(237, 28, 36);
}
.top-left, .top-right{
  margin-left: 15px;
}
/* Mobile and tablet */
@media only screen and (max-width: 1024px){
  .logo{
    display: none;
  }
  .cart-menu, .user,.header-content-right, .nav-bar, .banner{
    display: none;
  }
  .align-center{
    width: 100%;
  }
  .footer{
    display: none;
  }
  .mau{
    display: none;
  }
}
/* Mobile width */
@media only screen and (width >= 768px) and (width <= 1024px) {
  .header-content-left{
    width: 100%;
    margin-right: 17px;
  }
  .img-product-card > img{
    width: 128px;
    height: 128px;
  }
  h6{
    font-family: Roboto, sans-serif;
    font-size: 13px;
    margin: 0px;
  }
  .menu{
    margin-top: 95px;
  }
  .category_container{
    
    margin-top: 100px;
    width: 100%!important;
    .lazyload-wrapper{
      background: rgb(246, 246, 246);
      padding: 10px;
    }
    .left-top{
      display: none;
    }
  }
}
@media screen and (width <= 767px){
  h6{
    font-family: Roboto, sans-serif;
    font-size: 13px;
    margin: 0px;
  }
  .img-product-card > img{
    width: 150px;
    height: 150px;
  }
  .product-menu{
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin: 0;
  }
  .header-content-left{
    height: 48px;
    width: 97%;
  }
  .search-style-form{
    height: 36px;
  }
  input[type="text"],
  select {
    width: 100%;
    height: 33px;
    padding: 0;
    border: none;
    border-radius: 10px;
    outline: none;
  }
  .left-top span.items{
    line-height: 20px;
    padding: 5px 10px;
    display: inline-flex;
    -webkit-box-align: center;
    align-items: center;
    transition: all 0.2s ease-in-out 0s;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    margin-right: 7px;
    white-space: nowrap;
    box-shadow: rgba(153, 153, 153, 0.6) 0px 0px 5px 0px;
    margin-top: 7px;
    margin-left: 8px;
  }
  .category_container{
    margin-top: 48px;
    width: 100%!important;
    .lazyload-wrapper{
      background: rgb(246, 246, 246);
      padding: 10px;
    }
    .product-menu1{
      grid-template-columns: repeat(2, 1fr);
      margin: 0 auto;
    }
    
  }
  .main_content{
    display: block;
  }
  .top{
    display: none;
  }
  .categoryleft_header header{
    display: none;
  }
  .left-top, .left-down{
    width: 390px;
    display: inline;  
  }
  .scroll-top{
    display: flex;
    background-color: rgb(255, 255, 255);
    overflow-x: scroll;
    padding: 8px 8px 8px 12px;
  }
  .scroll-down{
    display: inline-flex;
    background-color: rgb(255, 255, 255);
    overflow-x: scroll;
    padding: 8px 8px 8px 12px;
  }
  
}

/* Tablet: width <  */
